# This conf file is the first part of a two stage setup for Let's Encrypt and setting up HTTPS in nginx
# Once the SSL certs are recieved, this file is replaced by nginx_site_ssl.conf.j2 within nginx

# For HTTP
server {
    listen 80;
    listen [::]:80; # For IPv6
    server_name {{ domain_name }} www.{{ domain_name }};

    # Let's Encrypt verifys domain ownership over HTTP
    # For any requests to /.well-known/acme-challenge/ then serve files from /var/www/certbot
    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root {{ let_encrypt_path }};
    }

    root {{ website_root }};
    index index.html;
    location / {
        try_files $uri $uri/ =404;
    }
}